/*************tag selector***************/
body{
    background-color: aliceblue;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color: lightgrey;
    height: 0px;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
    font-style: italic;
}
/************class selector**************/
.navBar{
    font-weight: bold;
    font-size: larger;
}
.navBar:hover{
    background-color: lightgrey;
}
/*************id selector***************/
/* #navBar{
    font-weight: bold;
    font-size: larger;
} */